#root {
    /* max-width: 100vw; */
    width: 1000px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1d5db;
    position: relative;
}

body {
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 100%;
    background: linear-gradient(135deg, #758c8d 50%, #8d5a42 50%);
}

.login-card {
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-header {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.login-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #4b5563;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #374151;
}

.cancel-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #d1d5db;
    color: #333;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
}

.cancel-button:hover {
    background-color: #c1c7d0;
}